In [31]:
import pandas as pd
import numpy as np

In [36]:
file = pd.read_csv('roa.csv',index_col=0,parse_dates=True)
file_1 = file[['datadate','tic','at','ni']]
file_1.head()

         datadate  tic       at      ni
gvkey
1004   1993/05/31  AIR  365.151   0.283
1004   1994/05/31  AIR  417.626   9.494
1004   1995/05/31  AIR  425.814  10.463
1004   1996/05/31  AIR  437.846  16.012
1004   1997/05/31  AIR  529.584  23.025

In [19]:
List = pd.read_fwf('DemoList.txt')
List

      INVE
0     ELON
1     PEGA
2     PRCP
3     CASS
4     COHU
5     BBOX
6      BDR
7     CRTN
8     HMNY
9    BELFB
10    CDNS
11    KLAC
12      CY
13    XLNX
14    ZOOM
15    TACT
16    WGNR
17    NVDA
18    CMTL
19     AXE
20    TTWO
21     KEM
22    EVOL
23    TKLC
24    ESIO
25      IT
26    MSCC
27    INTC
28    ANEN
29   AMSWA
..     ...
169   AEIS
170   ENVE
171    TCX
172   EGHT
173   COVR
174    AMD
175   ACCL
176   MCRL
177    WDC
178   OSIS
179   CREE
180   SNDK
181   PFSW
182   EDGW
183   ATEA
184   KLIC
185    NCR
186   CNXN
187    IDT
188    AVX
189   ISIL
190    LGL
191   FEIM
192   ATNI
193   QADA
194   TRMB
195   DTLK
196   PCMI
197   CTSH
198   VIAV

[199 rows x 1 columns]

In [37]:
text=pd.DataFrame()
for name in List.values.tolist():
    try:
        text=pd.concat([text,file_1.loc[indfmt]])
    except:
        continue

In [38]:
file_1['ROA'] = file_1['ni']/file_1['at']

/shared_home/willie/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
file_1.head()

         datadate  tic       at      ni       ROA
gvkey
1004   1993/05/31  AIR  365.151   0.283  0.000775
1004   1994/05/31  AIR  417.626   9.494  0.022733
1004   1995/05/31  AIR  425.814  10.463  0.024572
1004   1996/05/31  AIR  437.846  16.012  0.036570
1004   1997/05/31  AIR  529.584  23.025  0.043478